.illustrationContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.illustrationImageWrapper {
  padding: 1rem;
  width: calc(33% - 2rem);
}
.illustrationImage {
  width: 100%;
}

@media (max-width: 1000px) {
  .illustrationImageWrapper {
    padding: 1rem;
    width: calc(50% - 2rem);
  }
}

@media (max-width: 600px) {
  .illustrationImageWrapper {
    padding: 1rem;
    width: calc(100% - 2rem);
  }
}