.illustrationContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 0.5rem;
  width: 1000px;
  max-width: calc(100vw - 10px);
  flex-wrap: wrap;
}

.illustrationImageWrapper {
  position: relative;
  width: 33%;
  display: flex;
  padding: 0 0.25rem 0.25rem;
  box-sizing: border-box;
  > a {
    width: 100%;
  }
}

.transparentOverlay {
  background-color: #F15751;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.1s ease;
}

.illustrationImageWrapper:hover {

  .transparentOverlay {
    opacity: 0.3;
  }
}

.illustrationImageWrapper:active {

  .transparentOverlay {
    opacity: 0.7;
  }
}



.illustrationImage {
  height: 150px;
  min-width: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;

}

@media (max-width: 1000px) {
  .illustrationImageWrapper {
    padding: 1rem;
    width: 50%;
  }
}

@media (max-width: 600px) {
  .illustrationImageWrapper {
    padding: 1rem;
    width: 100%;
  }
}