$c_orange: #f16349;
$c_yellow: #e4dB07;
$c_purple: #bea3ff;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300i|Quicksand:300,700');

html {
  color: #333;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  background: #fefcfc;
}
.pageTransistion-appear {
  opacity: 0;
}
.pageTransistion-appear.pageTransistion-appear-active {
  opacity: 1;
  transition: all 0.4s ease;
}
.pageTransistion-enter {
  opacity: 0;
}
.pageTransistion-enter.pageTransistion-enter-active {
  opacity: 1;
  transition: all 0.4s ease 0.3s;
}
.pageTransistion-leave {
  opacity: 1.0;
}
.pageTransistion-leave.pageTransistion-leave-active {
  opacity: 0;
  transition: all 0.4s ease;
}

.socialMediaContainer {
  display: flex;
  margin-top: 1.5rem;
}
.socialMediaLinkImg {
  width: 2.25rem;
  margin-right: 1.5rem;
}
.back-arrow-container {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-top: -3rem;
  padding-bottom: 1rem;
}
.back-arrow {
  color: $c_orange;
  font-size: 2.5rem;
}
.back-arrow-text {
  color: #333;
  font-size: 1.5rem;
}
.titleText {
  font-size: 2rem;
  margin: 0 0 2rem 0;
}
.descText {
  font-family: 'Fira Sans', sans-serif;
  margin: 1.5rem 0;
  max-width: 50rem;
  line-height: 1.8rem;
}
.display-img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 0.5rem;
  background: #fff;
}
.display-img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.layoutGrid {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  height: 100vh;
  grid-template-columns: 16rem 1fr 1fr 1fr;
  grid-template-rows: 6rem 6rem 20rem auto;
  overflow: hidden;

  .navContainer {
    grid-column: 1;
    grid-row: 3;
    padding: 0rem 2rem;
    z-index: 10000;
  }
  .content {
    padding-top: 12rem;
    padding-right: 1rem;
    grid-column: 2/5;
    grid-row: 1/5;
    overflow-y: auto;
    overflow-x: visible;
    &::-webkit-scrollbar { 
      width: 0.33rem;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb { background-color: $c_orange; }
    &::-webkit-scrollbar-track-piece { background-color: lighten($c_orange, 30%); }
  }
  .title {
    display: flex;
    align-items: center;
    grid-column: 1;
    grid-row: 1/3;
    padding: 2rem;
    .titleImage {
      height: 100%;
    }
  }
}

a {
  text-decoration: none;
}
.tab {
  color: $c_orange;
  padding: 0.5rem 0rem;
}
.tabText {
  color: $c_orange;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.1s ease,
              text-shadow 0.1s ease,
              transform 0.1s ease;
}
.tab:hover {
  .tabText {
    transform: translate(-1px,-1px);
  }
}
.tab:active {
  .tabText {
    transform: translate(0px,0px);
  }
}
.tab.active {
  .tabText {
    color: $c_purple;
  }
  &:hover .tabText,
  &:active .tabText{
    transform: none;
    text-shadow: none;
  }
}
.tabUnderline {
  width: 100%;
}

@media (max-width: 1200px) {
  .layoutGrid {
    grid-template-columns: 12rem 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem 20rem auto;
    .content {
      padding-top: 10rem;
    }
  }
  .tab {
    color: $c_orange;
    padding: 0.5rem 0rem;
  }
  .tabText {
    font-size: 1.25rem;
  }
}
@media (max-width: 700px) {
  .layoutGrid {
    grid-template-columns: 6rem 1fr 1fr 1fr;
    grid-template-rows: 5rem 1rem 20rem auto;
    .content {
      padding-top: 0;
      padding-left: 2rem;
      grid-column: 1/5;
      grid-row: 3/5;
    }
    .title {
      padding: 0.5rem;
      .titleImage {
        width: 100%;
        height: auto;
      }
    }
    .navContainer {
      grid-column: 2/5;
      grid-row: 1;
      padding: 0rem 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .socialMediaContainer {
        margin-top: 0.5rem;
      }
      .socialMediaLinkImg {
        margin-right: 0.375rem;;
      }
    }
  }
  .back-arrow-container {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 0;
    padding-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .layoutGrid {
    grid-template-columns: 6rem 1fr 1fr 1fr;
    grid-template-rows: 3rem 0rem 20rem auto;
    .content {
      padding-top: 0;
      padding-left: 2rem;
      grid-column: 1/5;
      grid-row: 2/5;
    }
    .title {
      display: none;
    }
    .navContainer {
      
      grid-column: 1/5;
      grid-row: 1;
      padding: 0rem 0.5rem;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .socialMediaContainer {
        margin-top: 0.5rem;
      }
      .socialMediaLinkImg {
        margin-right: 0.375rem;;
      }
    }
  }
  .back-arrow-container {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 0;
    padding-bottom: 1rem;
  }
}