$c_yellow: #e4dB07;
$c_purple: #bea3ff;
$c_DARK_BLUE: #2D3996;
$c_RED: #F15751;
$c_LIGHT_BLUE: #6BCCE2;
$c_BEIGE: #E0DFD5;
$c_ONYX: #2c4251;
@import url("https://use.typekit.net/ieh2fcm.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  color: $c_ONYX;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #fefcfc;
}
.pageTransistion-appear {
  opacity: 0;
}
.pageTransistion-appear.pageTransistion-appear-active {
  opacity: 1;
  transition: all 0.4s ease;
}
.pageTransistion-enter {
  opacity: 0;
}
.pageTransistion-enter.pageTransistion-enter-active {
  opacity: 1;
  transition: all 0.4s ease 0.3s;
}
.pageTransistion-leave {
  opacity: 1.0;
}
.pageTransistion-leave.pageTransistion-leave-active {
  opacity: 0;
  transition: all 0.4s ease;
}
.ContactSocialMediaContainer {
  display: none;
  width: 10rem;
}
.socialMediaContainer {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;

  a {
    width: 40px;
    height: 40px;
  }
}
.socialMediaLinkImg {
  width: 2.25rem;
  margin-right: 1.5rem;
}
.back-arrow-container {
  background-color: #fff;
  position: absolute;
  top: -2px;
  left: -2px;
  display: flex;
  align-items: center;
  height: 2rem;
  margin-top: -3rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.back-arrow {
  color: $c_ONYX;
  font-size: 2.5rem;
}
.back-arrow-text {
  color: $c_ONYX;
  font-size: 1.5rem;
}

.tabsContainer {
  display: flex;
  justify-content: space-between;
}

.titleText {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  letter-spacing: 0.125rem;
  font-weight: 700;
}

.descText {
  font-family: "urw-din", sans-serif;
  margin: 1.5rem 0 1.5rem 0;
  max-width: 50rem;
  line-height: 1.8rem;
}
.linkText {
  margin: 1.5rem 0;
  max-width: 50rem;
  line-height: 1.8rem;
  color: $c_DARK_BLUE;
  font-weight: 500;
  &:hover {
    color: $c_LIGHT_BLUE;
  }
}
.display-img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 0.5rem;
  background: #fff;
}
.display-img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.illustrationContainer {
  padding-bottom: 2rem;
}

.layoutGrid {
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .navContainer {
    width: 100%;
    background-color: #ff616c;    
    box-sizing: border-box;
    padding: 1rem 2rem 1rem 2rem;
    z-index: 10000;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
  }

  .navWrapper {
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    display: flex;
  }
  .content {
    box-sizing: border-box;
    padding-bottom: 2rem;
    overflow-y: auto;
    flex-shrink: 0;
    flex-grow: 1;
    overflow-x: visible;
    display: flex;
    justify-content: center;
    height: 100%;
    &::-webkit-scrollbar { 
      width: 0.66rem;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb { background-color:  lighten(#ff616c, 0%); }
    &::-webkit-scrollbar-track-piece { background-color: lighten(#ff616c, 20%); }
  }
  .contentWrapper {
    max-width: 1000px;
    height: 100%;  
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  .title {
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-size: 3rem;
    line-height: 2.75rem;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
  }
  .mobileTitle {
    display: none;
    color: #fff;
    font-size: 1rem;
    font-family: "brandon-grotesque", sans-serif;
    margin: 0;
    display: none;
    align-items: center;
    font-weight: 700;
  }
}
.activeBall {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: $c_DARK_BLUE;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  opacity: 0;
}

a {
  text-decoration: none;
}
.tab {
  color: #fff;
  padding: 0.5rem 0rem 0.5rem 2rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: flex-end;
}
.tabText {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.1s ease,
              text-shadow 0.1s ease,
              transform 0.1s ease;
}
.tab:hover {
  .tabText {
    transform: translate(-1px,-1px);
  }
}
.tab:active {
  .tabText {
    transform: translate(0px,0px);
  }
}
.tab.active {
  .activeBall {
    opacity: 1;
  }
  &:hover .tabText,
  &:active .tabText{
    transform: none;
    text-shadow: none;
  }
}
.tabUnderline {
  width: 100%;
}

.back-arrow-container { 
  padding-top: 4rem;
}

@media (max-width: 1000px) {

  .layoutGrid {
    .title {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
  .tab {
    color: $c_ONYX;
    padding: 0.5rem 0;
  }
  .tabText {
    font-size: 1.25rem;
  }
}
@media (max-width: 600px) {
  .tab {
    padding: 0.5rem 1.5rem 0.5rem 0rem;
  }
  .ContactSocialMediaContainer {
    display: block;
  }
  .layoutGrid {
    &.navDisabled {
      .content {
        padding-top: 1rem;
      }
      .navContainer {
        display: none;
      }
    }
    .content {
      padding-top: 0;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      padding-bottom: 2rem;
    }
    .title {
      display: none;
    }

    .mobileTitle {
      font-size: 1rem;
      display: flex;
    }

    .titleContainer {
      display: flex;
      align-items: center;
    }

    .navContainer {
      padding: 0rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .socialMediaContainer {
        display: none;
      }
      .socialMediaLinkImg {
        margin-right: 0.375rem;;
      }
    }
  }
  .back-arrow-container {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-top: 0;
    padding-bottom: 1rem;    
    padding-top: 0rem;
  }
}

@media (max-width: 400px) {
  .tab {
    color: $c_ONYX;
    padding: 0.5rem 0rem 0.5rem 0rem;
  }
  .activeBall {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.25rem;
    opacity: 0;
  }
  .layoutGrid {
    .navContainer {
      padding: 0rem 0.5rem 0rem 0.25rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}