$c_orange: #f16349;
$c_yellow: #e4dB07;
$c_purple: #bea3ff;

@import url('https://fonts.googleapis.com/css?family=Quicksand:300i,700');

html {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
.layoutGrid {
  display: grid;
  height: 100vh;
  grid-template-columns: 20rem 1fr 1fr 1fr;
  grid-template-rows: 10rem 10rem 20rem auto;
  overflow: hidden;

  .navContainer {
    grid-column: 1;
    grid-row: 3;
    padding: 0rem 2rem;
  }
  .content {
    padding-top: 10rem;
    grid-column: 2/5;
    grid-row: 1/5;
    overflow-y: scroll;
  }
  .title {
    display: flex;
    align-items: center;
    grid-column: 1;
    grid-row: 1/3;
    padding: 2rem;
    .titleImage {
      width: 100%;
    }
  }
}


a {
  text-decoration: none;
}
.tab {
  color: $c_orange;
  padding: 0.5rem 0rem;
}
.tabText {
  color: $c_orange;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.1s ease,
              text-shadow 0.1s ease,
              transform 0.1s ease;
}
.tab:hover {
  .tabText {
    transform: translate(-1px,-1px);
  }
}
.tab:active {
  .tabText {
    transform: translate(0px,0px);
  }
}
.tab.active {
  .tabText {
    color: $c_purple;
  }
  &:hover .tabText,
  &:active .tabText{
    transform: none;
    text-shadow: none;
  }
}
.tabUnderline {
  width: 100%;
}
@media (max-width: 1200px) {
  .layoutGrid {
    grid-template-columns: 13rem 1fr 1fr 1fr;
    grid-template-rows: 7.5rem 7.5rem 20rem auto;
    .content {
      padding-top: 7.5rem;
    }
    .tabText {
      font-size: 1.5rem;
    }
    .navContainer {
      padding: 0rem 1rem;
    }
    .title {
      padding: 1rem;
    }
  }
}